---
---
!!! 5
%html(lang="en")
  %head
    %meta{"charset" => "utf-8"}
    %title {{ page.title }}
    %link{"rel" => "stylesheet", "href" => "/css/rwash.css", "type" => "text/css", "media" => "all"}
    %link{"rel" => "stylesheet", "href" => "/css/bootstrap.min.css", "type" => "text/css", "media" => "all"}
    %link{"rel" => "stylesheet", "href" => "/css/bootstrap-responsive.min.css", "type" => "text/css", "media" => "all"}
    %link{"rel" => "stylesheet", "href" => "/css/print.css", "type" => "text/css", "media" => "print"}
    %meta{"name" => "viewport", "content" => "width=device-width", "initial-scale" => "1.0"}
    %meta{"name" => "author", "content" => "Rick Wash"}
    {% include google.html %}    
    %script{"src" => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          -# %a.brand(href="/index.html") Rick Wash
          %ul#nav.nav
            %li
              %a(href="/index.html") Home
            %li
              %a(href="/about.html") About Me
            %li
              %a(href="/pubs.html") Papers
            %li.hidden-phone
              %a(href="/research.html") Research
            %li.hidden-phone
              %a(href="/teaching.html") Teaching
            %li.hidden-phone
              %a(href="/cv.html") C.V.
    .container-fluid
      .row-fluid
        #left.span3
          #header
            {% include header.html %}
          #contact
            {% include contact.html %}
        #main.span8
          #content
            {{ content }}
    %script{"src" => "/js/bootstrap.min.js"}
    %script{"src" => "/js/autoselect.js"}

    
